.primary{
margin-top: 59px;
height: 100%;
width: 100%;
}


.lp_img_div{
  float: left;
  height: 800px;
}

.lp_img{
  width: 542px;
  height: 700px;
  margin-left: 396px;
  margin-top: 100px;
  background-color: aquamarine;
}



h1{padding: 15px 0px 10px 20px;
  border-bottom: 1px dotted grey;
  font-size: xx-large;}


  .lp_edit_button{ float: right; margin: -23px -23px 0px  0px;
    height: 56px;
    width: 56px;
  border-radius: 100%;}


.lp_table{
  float: left;
  height: 700px;
  width: 542px;
  margin-top: 100px;
  margin-left: 45px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

table {
  width: 100%;
  margin-top: 100px;
}

th{width: 30%; padding: 10px 20px}
td{width: 70%; padding: 10px 20px}


.lp_serie{
  margin-top: 190px;
  margin-left: 20px;
}

.lp_img_preview{
  height: 120px;
  padding: 5px;
}
.lp_img_preview_div{
  width: 100%;
  text-align: center;
  margin-top: 16px;
}
