<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <em class="fas fa-gamepad mr-2"></em>
      VideoGames Collection
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <em class="fas fa-bars"></em>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link nav-link-1" aria-current="page" routerLink="/videogame">Videogames</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-2" routerLink="/console">Console</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-3" routerLink="/produttore">Manufacture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-4" routerLink="contact.html">Stats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-4" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<app-header></app-header>
<router-outlet></router-outlet>
