<div class="lp_sub_bar" >

  <img class="lp_image_mega_logo" src="..\..\assets\img\home_logo.png">
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-2 col-md-3 col-sm-6 col-xs-6">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
    </div>
    <div class="col-xl-2 col-md-3 col-sm-6 col-xs-6">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
    </div>
    <div class="col-xl-2 col-md-3 col-sm-6 col-xs-6">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
    </div>
    <div class="col-xl-2 col-md-3 col-sm-6 col-xs-6">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
    </div>
    <div class="col-xl-2 col-md-3 col-sm-6 col-xs-6">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
    </div>
    <div class="col-xl-2 col-md-3 col-sm-6 col-xs-6">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
      <img src="..\..\assets\img\Videogame\xbox series x\microsoft-xbox series x-[gears tactics]FRONT.jpg"  class="img-fluid lp_image_cover">
    </div>
      </div>
  </div>
