.lp_image_mega_logo{
  display:block;
  margin:0px auto;
  text-align:center;
  padding-top: 280px;
}

.lp_sub_bar{
  background-color: #f4f4f4;
  /*height: 200px; dimensione tab videogame*/
  height: 700px;
  border-bottom: 2px dashed #000;
}

.row > div {
  padding: 0 4px !important;
}

.lp_image_cover {
margin-top: 8px;
vertical-align: middle;

}
